.success_container {
    margin: 0 auto;
    width: max-content;
}

.decrease_button {
    display: inline;
    font-size: 5em;
    padding-right: 0.2em;
    padding-left: 0.2em;
    border:solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: #333333;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
}

.increase_button {
    display: inline;
    font-size: 5em;
    padding-right: 0.2em;
    padding-left: 0.2em;
    border:solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-color: #333333;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
}

.success_label {
    display: inline-block;
    font-size: 5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border: solid;
}