$light: #efefef;

.contact {
    background: #333333;
    color: $light;
}

table.rangelist_table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    text-align: center;
    height: 40px;
    padding: 0 0px;

    &.keep-left {
        padding-left: 10px;
        text-align: left;
        cursor: default;
    }
}

td.active {
    background: #00CDCD;
    .rangelist_button {
        color: black;
        font-weight: bold;
        font-size: 15px;
    }
}

th {
    width: 15%;
    &:first-child {
        width: auto;
    }
}

tbody.rangelist_table_body {
    tr:nth-child(odd) {
        background: #454545;
    }
}

button.rangelist_button {
    border: none;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
    color: $light;
}

.hidden {
    display: none;
}

div.range_list_tab {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    border: solid;
    border-color: #ffffff;
    border-width: 2px;
    border-top-right-radius: 15px;
}

div.active_tab {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    border: solid;
    border-color: #ffffff;
    border-width: 2px;
    border-top-right-radius: 15px;
    background: #00CDCD;
    color: black;
}

.tiny_text {
    font-size: 60%;
}

.input_text {
    text-align: center;;
}