.instructions {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    border: solid;
    border-radius: 10px;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.menu_button {
    display: inline-block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width:49%;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #333333;
    border-left: solid;
    border-right: solid;
    border-color: #ffffff;
}

.menu_button_disabled {
    display: inline-block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    pointer-events: none;
    width:49%;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: #808080;
    background-color: #333333;
    border-left: solid;
    border-right: solid;
    border-color: #ffffff;
}